body {
	background: #edf2f1 !important;
}

.title {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 700;
	color: #5e5e5e;
}

@media screen and (min-width: 64em) {
	.title {
		margin: 0 0 0 110px;
	}
}

@media screen and (max-width: 39.9375em) {
	.title {
		font-size: 50px;
		text-align: center;
	}
}

h1:after {
    content: ' ';
    display: block;
    border: 12px solid #5e5e5e;
    margin-top: -21px;
}

@media screen and (max-width: 39.9375em) {
	h1:after {
		border: 10px solid #5e5e5e;
	    margin-top: -18px;
	}
}

header {
	background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

@media screen and (min-width: 40em) {
	header {
		padding-right: 20%;
	}
}

.main-img {
	background: url(../img/bg.png) no-repeat center center;
	background-size: contain;
	height: 80%;
    width: 100%;
    position: relative;
    top: 10%;
}

@media screen and (min-width: 64em) {
	.main-img {
		left: 5%;
	}
}

.banner {
	background: url(../img/banner.png) no-repeat center center;
    background-size: contain;
    height: 21%;
    width: 100%;
    position: relative;
    bottom: 18%;
}

@media screen and (max-width: 39.9375em) {
	.banner {
		bottom: 19%;
	}
}

@media screen and (min-width: 64em) {
	.banner {
		left: 5%;
	}
}

/* Navigation */

nav {
	background-color: #edf2f1;
	width: 100%;
	z-index: 1;
}

@media screen and (max-width: 39.9375em) {
	nav {
		position: fixed;
	}
}

@media screen and (min-width: 40em) {
	nav {
		background-color: #edf2f1;
		height: 100%;
	    right: 0;
	    overflow: hidden;
	    position: fixed;
	    top: 0;
	    width: 20%;
	    z-index: 1;
	}

	nav ul {
		margin: 100px 0;
		position: absolute;
	}
}

nav ul li {
	list-style-type: none;
    margin: 20px 0;
    padding: 0 5px;
}

@media screen and (max-width: 39.9375em) {
	.title-bar {
		background: #5e5e5e !important;
		padding: 11px 7px !important;
	}

	.menu-vertical {
		margin: 0;
	}

	nav ul li {
		margin: 0;
		padding: 10px 0 10px 10px;
	}

	nav ul li a {
		padding: 10px 0;
		text-align: center;
	}
}

nav ul li a {
	color: #5e5e5e;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: #edf2f1;
}

#link1 {
	background-color: #c5eae4;
}

#link2 {
	background-color: #e3a48d;
}

#link3 {
	background-color: #fcdf68;
}

#link4 {
	background-color: #fff;
}

.intro {
	position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    background-color: #8d9e9c;
    width: 100%;
    z-index: 1;
}

.intro-text {
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #fff;
	margin-bottom: 0;
	margin-left: 20px;
	padding: 35px 0;
}

@media screen and (max-width: 39.9375em) {
	.intro-text {
		font-size: 18px;
		margin-left: 0;
		text-align: center;
	}
}

/* Projects */

.design,
.illustration {
    width: 100%;
    margin: 5% 0 5% 0;
}

.info {
	background-color: #fff;
    width: 100%;
	font-family: 'Libre Baskerville', serif;
}

@media screen and (min-width: 40em) {
	.design,
	.illustration {
		padding-right: 20%;
	    width: 100%;
	    margin: 5% 0 5% 0;
	}

	.info {
		background-color: #fff;
	    padding: 0 20% 5% 0;
	    width: 100%;
	}
}

.full-width {
	padding-left: 0;
	padding-right: 0;
}

#name {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 700;
	color: #5e5e5e;
	margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
	#name {
		font-size: 54px;
		text-align: center;
	}
}

@media screen and (min-width: 64em) {
	#name {
		margin: 0 0 0 110px;
	}
}

#name:after {
    content: ' ';
    display: block;
    border: 12px solid #5e5e5e;
    margin-top: -27px;
}


@media screen and (max-width: 39.9375em) {
	#name:after {
		border: 10px solid #5e5e5e;
		margin-top: -24px;
	}
}

.center-img {
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

@media screen and (max-width: 39.9375em) {
	.center-img {
		margin: 20px auto;
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.center-img {
		margin: 10px auto;
	}
}

/* About */

.about-top {
	padding: 50px 0;
}

@media screen and (max-width: 39.9375em) {
	.about-top {
		padding: 30px 0 0 0;
	}
}

#about-description-1 {
	font-size: 28px;
	text-align: right;
	line-height: 46px;
}

@media screen and (max-width: 39.9375em) {
	#about-description-1 {
		font-size: 14px;
		text-align: center;
	}
}

@media screen and (min-width: 64em) {
	#about-description-1 {
    	padding-left: 70px;
    }
}

#about-description-2 {
	font-size: 14px;
	line-height: 37px;
	padding: 0 5% 0 5%;
}

@media screen and (max-width: 39.9375em) {
	#about-description-2 {
		text-align: center;
	}
}

@media screen and (min-width: 40em) {
	#about-description-2 {
    	padding-left: 60px;
    }
}

@media screen and (min-width: 40em) {
	#about-description-2 {
    	padding-right: 30px;
    }
}

#circle {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.contact {
	color: #e3a48d;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

@media screen and (max-width: 39.9375em) {
	.contact {
		text-align: center;
	}
}

.resume a {
	color: #e3a48d;
}

@media screen and (min-width: 64em) {
	.contact {
    	margin-left: 45px !important;
    }
}

.design img, 
.illustration img {
	border: 28px solid #fff;
}

@media screen and (min-width: 64em) {
	.design-projects {
    	margin: 65px 0 0 180px !important;
	    border-left: 15px solid #e3a48d;
    }

	.illustration-projects {
    	margin: 65px 0 0 180px !important;
	    border-left: 15px solid #fcdf68;
    }
}

@media screen and (min-width: 64em) {
	.project-right {
    	margin: 0;
    }

    .project-left {
		margin-bottom: 50px;
	}
}


