* {
	font-family: "Georgia", serif;
    font-size: 16px;
}

body {
    background-color: white;
}

.logo {
    border-bottom: 4.39px solid #000;
    margin: 143.18px 129.93px 0px 139.58px;
}

nav {
    position: fixed;
    right: 38px;
}

.link1 {
    background-color: #F05D60
}

.link2 {
    background-color: #906460
}

.link3 {
    background-color: #37BEC2
}

.link4 {
    background-color: #73726D
}

a:link, a:visited {
	font-family: "Josefin Sans", "Arial", sans-serif;
	text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    text-align: right;
    color: #FFFFFF;
} 

a:hover {
    color: #f8ee5d;
}

nav ul { 
    margin: 0;
    position: absolute;
    right: 100px;
    list-style-type: none; 
}

nav ul li {
    text-align: right;
    padding: 0 5px;
}

h1 {
	font-family: "Josefin Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 75.66px;
}

/*headers*/
    #exhibition {
        margin: 143.18px 600px 0px 134px;
        color: #37BEC2;
        text-align: left;
        line-height: 38px;
        padding: 0;
        border-bottom: 450px solid #F05D60;
    }

    #current {
        margin: 343.18px 250px 0px 570px;
        color: #906460;
        text-align: left;
        background-color: #f8ee5d;
        padding: 20px 0 0 10px;
        line-height: 60px;
    }

    #upcoming {
        margin: 143.18px 640.93px 0px 139.58px;
        color: #37BEC2;
        text-align: left;
        background-color: #f8ee5d;
        padding: 20px 0 0 10px;
        line-height: 60px;
    }

    #past {
        margin: 143.18px 250px 0px 570px;
        color: #73726D;
        text-align: left;
        background-color: #f8ee5d;
        padding: 20px 0 0 10px;
        line-height: 60px;
    }
/*headers end*/

.blurb {
    font-family: "Playfair Display", serif;
    background-color: #906460;
    color: #ffffff;
    width: 390px;
    text-align: right;
    font-size: 20px;
    line-height: 26px;
    margin: -450px 129.93px 0px 134px;
    padding: 20px 10px;
    position: absolute;
}

.title, .title2, .date3 {
    font-family: "Josefin Sans";
    text-transform: uppercase;
    line-height: 22px;
}

.place, .place2, .place3 {
    font-family: "Georgia";
    font-style: italic;
}

.info, .info2, .info2 {
    font-size: 16px;
    line-height: 22px;
}

/*current*/
    .section {
        background-color: #906460;
        margin-left: -20px;
        margin-right: 230.99px;
        color: #FFFFFF
    }

    .right {
        margin-left: 590.84px; 
        width: 389px;
        padding: 61.9px;
        border-bottom: 4.39px solid #f8ee5d;
        padding-right: 0px;
        padding-left: 0px;
        height: 250px;
    }

    .date {
        position: absolute;
        text-align: right;
        font-size: 36px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        line-height: 38px;
        /*position: absolute;
        left: 143.23px;
        right: 575.56px;
        float: left;*/
        width: 329px;
        height: 84.94px;
        float:left;
        margin: 77.3px 0 0 139.58px;
        padding: 62.24px;
    }
/*current end*/

/*upcoming*/
    .section2 {
        background-color: #37BEC2;
        margin-left: -20px;
        margin-right: 230.99px;
        color: #FFFFFF;
        text-align: right;
        padding-left: 70px;
        padding-bottom: 0.02px;
    }

    .left{
        width: 435px;
        float:left;
        margin: 0 0 0 77.3px;
        padding: 62.24px 0 0 0;
        border-bottom: 4.39px solid #f8ee5d;
        height: 300px;
    }

    .date2 {
        text-align: left;
        font-size: 36px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        line-height: 38px;
        margin-left: 509.84px;
        margin-top: 0px; 
        width: 370px;
        height: 125px;
        padding: 61.9px; 
        padding-top: 145px;
    }
/*upcoming end*/

/*past*/
    .section3 {
        background-color: #73726D;
        margin-left: -20px;
        margin-right: 230.99px;
        color: #FFFFFF;
        padding: 50px;
    }

    .titler3 {
        text-align: left;
        font-size: 36px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        line-height: 38px;
        margin-left: 509.84px;
        margin-top: 0px; 
        width: 370px;
        height: 125px;
        padding: 61.9px; 
        padding-top: 145px;
    }

    .right1 {
        text-align: right;
        width: 435px;
        float:left;
        margin: 0 0 0 77.3px;
        padding: 62.24px 0 0 0;
        border-bottom: 4.39px solid #f8ee5d;
        height: 300px;
    }

    .title3 {
        text-align: right;
        font-size: 36px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        line-height: 38px;
        /*position: absolute;
        left: 143.23px;
        right: 575.56px;
        float: left;*/
        width: 329px;
        height: 84.94px;
        float:left;
        margin: 77.3px 0 0 120px;
        padding: 62.24px;
    }

    .left1 {
        margin-left: 550px; 
        width: 389px;
        padding: 61.9px;
        border-bottom: 4.39px solid #f8ee5d;
        padding-right: 0px;
        padding-left: 0px;
        height: 250px;
    }

/*past end*/



footer {
    background-color: #f8ee5d;
    margin: 0 -8px 0 -8px;
    color: #906460;
    padding: 10px;
    text-align: center;
    line-height: 9px;
}